<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1><%= htmlWebpackPlugin.options.title %></h1>
                <p>
                    Demos of the
                    <a
                        href="https://github.com/david-yz-liu/memory-models-rough"
                        >memory-models-rough</a
                    >
                    Javascript library for visualizing Python memory.
                </p>
            </hgroup>
        </header>
        <main class="container">
            <div id="app"></div>
        </main>
    </body>
</html>
