/* Custom CSS goes here */
/* Hides the arrows that come by default with MUI Textfield of type 'number'*/
/* https://stackoverflow.com/a/50824080 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu-button {
    text-transform: none !important;
}

.menu-button .MuiSvgIcon-root {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
}

.menu-button.open .MuiSvgIcon-root {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg);
}

.fileInputBox {
    display: flex;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
