name: Memory Models Tests
on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches:
            - master

jobs:
    jest:
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repo
              uses: actions/checkout@v5
            - name: Set up node and cache packages
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: npm
            - name: Install npm packages
              run: npm ci
            - name: Compile JavaScript assets
              run: npm run build --workspace=memory-viz
            - name: Run jest tests
              run: npm run test-cov
            - name: Coveralls (jest)
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}

    build:
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false
        steps:
            - uses: actions/checkout@v5
            - name: Set up node and cache packages
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: npm
            - name: Install npm packages
              run: npm ci
            - name: Build docs, demo, and webstepper website
              run: |
                  npm run build --workspace=memory-viz
                  npm run build --workspace=demo
                  npm run build --workspace=docs
                  npm run build --workspace=webstepper
                  mkdir docs/build/demo
                  cp -r demo/dist/* docs/build/demo
            - name: Archive documentation website artifact
              uses: actions/upload-artifact@v4
              with:
                  name: docs
                  path: docs/build
    publish:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: publish-docs
            url: https://www.cs.toronto.edu/~david/memory-viz
        if: github.ref == 'refs/heads/master'
        steps:
            - name: Download documentation website artifact
              uses: actions/download-artifact@v6
              with:
                  name: docs
                  path: docs
            - name: Deploy to Server
              uses: easingthemes/ssh-deploy@main
              with:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                  ARGS: "-rlgoDzvc -i --delete"
                  SOURCE: "docs/"
                  REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
                  REMOTE_USER: ${{ secrets.REMOTE_USER }}
                  TARGET: ${{ secrets.REMOTE_TARGET }}
                  EXCLUDE: "/dist/, /node_modules/"
